[submodule "elisp/projectable"]
	path = elisp/projectable
	url = git@github.com:domtronn/projectable.el.git
[submodule "elisp/js-dependency-injector"]
	path = elisp/js-dependency-injector
	url = git@github.com:domtronn/js-dependency-injector.el.git
[submodule "elisp/magit-gh-issues"]
	path = elisp/magit-gh-issues
	url = git@github.com:domtronn/magit-gh-issues.el.git
[submodule "elisp/emacs-livedown"]
	path = elisp/emacs-livedown
	url = https://github.com/shime/emacs-livedown.git
[submodule "elisp/boop"]
	path = elisp/boop
	url = git@github.com:domtronn/boop.el.git
[submodule "elisp/eslint-reader"]
	path = elisp/eslint-reader
	url = git@github.com:domtronn/eslint-reader.el.git
